<html>
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">

    <style>
        body {
            font-family: 'Open Sans';
            background-color: #494948;
            color: #F0EFE2;
        }
    </style>
</head>

<body>

<h1>Hva er Bomull?</h1>
<p>Bomull er et fargenavn som har blitt gitt av malingsprodusenten Jotun AS til
    off-white fargen med NCS kode S 0502-Y.
    Fargen er best kjent under navnet Bomull hos malingsbedrifter og forbrukere.
    Bomull er en hvit farge med et lite
    hint av gult i seg, som gjør den til en varmere hvitfarge. Bomull har lenge
    vært brukt som standard farge for
    ferdigmalte lister, karmer og dører fra leverandører. Fargen har blitt
    bestemt av leverandørene til å være standard
    farge,
    men det har også blitt mer vanlig at leverandører nå også leverer i fargen S
    0500-N (Klassisk Hvit
    <span>(link)</span>). Spør
    gjerne om de har lister og dører i Klassisk Hvit hos din byggevareforhandler
    dersom du ønsker dette.</p>

<p>Noen forbrukere og forhandlere tenker fremdeles at Bomull er den perfekte
    hvitfargen som passer godt sammen med alle
    andre farger, men dette er dessverre bare en myte. Sammen med kalde farger
    eller røde toner kan de hvite tonene i
    Bomull se skitne ut. Dette er noe de fleste ønsker å unngå, og er grunnen
    til at vi har produsert denne nettsiden.
    <i>passerdettilbomull.no</i> er bygget som en enkel og søkbar guide til å
    finne ut som Bomull vil passe sammen med
    de fargene du ønsker på veggen.</p>

<p>Informasjonen på denne nettsiden er en kombinasjon av informasjon hentet fra
    <a href="jotun.no">jotun.no</a> sammen
    med subjektive meninger. Husk at estetikk er subjektivt, og denne nettsiden
    kun er et verktøy og ikke en fasit. Om
    du liker de gule tonene i Bomull og ønsker å bringe disse frem ved å ha de
    sammen med Nøytral (link) er det ingen
    som kan stoppe deg fra å male med disse fargene sammen.</p>

<p>passerdettilbomull.no er på ingen måte assosiert med eller produsert av Jotun
    AS</p>

<p>Ta kontakt med oss på </break>
    <a href="mailto:passerdettil@bomull.no">passerdettil@bomull.no</a></p>

</body>


</html>
